.fds-button{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  --spectrum-button-border-radius: 4px;
  height: 48px;

  svg{
    margin-left: 8px;
  }
}

.fds-icon-only-button{
  min-inline-size: 48px;
  width: 48px;
  height: 48px;
  --spectrum-button-border-radius: 4px;
  padding: 0;
}

body.spectrum--light .fds-icon-only-button:not([data-static-color])[data-variant="secondary"][data-style="fill"],
body.spectrum--light .fds-button:not([data-static-color])[data-variant="secondary"][data-style="fill"] {
  --spectrum-button-color: var(--spectrum-gray-800);
  --spectrum-button-color-hover: var(--spectrum-gray-900);
  --spectrum-button-color-down: var(--spectrum-gray-900);
  --spectrum-button-color-key-focus: var(--spectrum-gray-900);
}

body.spectrum--light .fds-icon-only-button:not([data-static-color])[data-variant="secondary"][data-style="fill"],
body.spectrum--light .fds-button:not([data-static-color])[data-variant="secondary"][data-style="fill"]  {
  --spectrum-button-text-color: var(--spectrum-gray-200);
  --spectrum-button-text-color-hover: var(--spectrum-gray-300);
  --spectrum-button-text-color-down: var(--spectrum-gray-400);
  --spectrum-button-text-color-key-focus: var(--spectrum-gray-400);
}

body.spectrum--dark .fds-icon-only-button:not([data-static-color])[data-variant="secondary"][data-style="fill"]
body.spectrum--dark .fds-button:not([data-static-color])[data-variant="secondary"][data-style="fill"] {
  --spectrum-button-color: var(--spectrum-gray-200);
  --spectrum-button-color-hover: var(--spectrum-gray-300);
  --spectrum-button-color-down: var(--spectrum-gray-400);
  --spectrum-button-color-key-focus: var(--spectrum-gray-300);
}

body.spectrum--dark .fds-icon-only-button:not([data-static-color])[data-variant="secondary"][data-style="fill"]
body.spectrum--dark .fds-button:not([data-static-color])[data-variant="secondary"][data-style="fill"]  {
  --spectrum-button-text-color: var(--spectrum-gray-800);
  --spectrum-button-text-color-hover: var(--spectrum-gray-900);
  --spectrum-button-text-color-down: var(--spectrum-gray-900);
  --spectrum-button-text-color-key-focus: var(--spectrum-gray-900);
}
